# Gradle
.gradle/
build/
**/build/

# Local configuration
local.properties
*.iml

# IDE
.idea/
*.ipr
*.iws

# Log & crash reports
*.log

# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Android Studio Navigation Editor temp files
.navigation/

# Others
.cxx/
captures/
.externalNativeBuild/
